.commercial {
  min-height: 537px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commercial__title {
  margin: 0 0 22px;
}

.commercial__way {
  margin: 0 0 60px;
}

.commercial__advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 130px;
  margin: 0;
}

.commercial__list {
  margin: 0 40px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.commercial__title {
  margin: 46px 0 16px;
}

.commercial__description {
  margin: 0;
}
