.commercial {
  height: 537px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commercial__title {
  margin: 0;
  margin-bottom: 22px;
}

.commercial__way {
  margin: 0;
  margin-bottom: 60px;
}

.commercial__advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 130px;
  padding-right: 130px;
  margin: 0;
}

.commercial__list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 90px;
  margin-left: 40px;
  margin-right: 40px;
}


.commercial__title {
  margin: 0;
  margin-bottom: 16px;
  margin-top: 46px;
}

.commercial__description {
  margin: 0;
}
