.body {
  font-family: 'Roboto', sans-serif;
}


ДАЛЬШЕ НЕ ПРОВЕРЯТЬ



.leadingBrands {
  padding: 88px 162px 105px 162px;
  text-align: center;
  background-color: #f5f5f5;
}

.leadingBrands__title {
 margin: 0;
 margin-bottom: 75px;
 font-weight: 700;
 font-size: 40px;
 line-height: 45px;
}

.leadingBrands__location {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leadingBrands__list {
  padding: 0;
  margin: 0;
  margin-left: 13px;
  margin-right: 13px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 40px;

}

.leadingBrands__descriptionList {
  box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
  border-radius: 0px 0px 7px 7px;
  background: #FFFFFF;
  width: 320px;
  height: 233px;
  margin-top: -3px;
  
}

.leadingBrands__logo {
 align-items :center;
 margin-top: 25px;
 margin-bottom: 25px;
}

.leadingBrands__values {
  margin: 0;
  margin-left: 55px;
  margin-right: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6f2cff;
}

.specialization {
  padding: 94px 245px 100px 245px;
  margin: 0;
  text-align: center;
}

.specialization__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.specialization__descriptionTitle {
  margin: 0;
  margin-bottom: 65px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.specialization__sectors {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 30px;
}

.specialization__styleSectors {
  padding: 35px 0px 22px 30px;
  min-width: 460px;
  /*min-height: 199px;*/
  text-align: left;
  background-color: #17002e;
  border-radius: 8px 10px 10px 8px;
}

.specialization__styleSectors_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 31px;
}

.specialization__styleSectors_titleTop {
  margin: 0;
  margin-left: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.specialization__styleSectors_bottom {
  margin: 0;
  max-width: 350px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.specialization__styleSectors_linkBottom {
 margin-bottom: 0;
 margin-top: auto; 
 font-weight: 400;
 font-size: 15px;
 line-height: 15px;
 color: #ffffff;
 text-decoration: none;
 border-bottom: 2px solid #ffffff;
}