.specialization {
  margin: 0;
  height: 1003px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.specialization__title {
  margin: 0 0 12px;
}

.specialization__description {
  margin: 0 0 65px;
}

.specialization__sectors {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*justify-items: center;*/
  gap: 30px;
}

.specialization__style {
  padding: 0 50px 0 30px;
  height: 199px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #17002e;
  border-radius: 8px 10px 10px 8px;
}

.specialization__style_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 31px;
}

.specialization__title_top {
  margin: 0 0 0 25px;
}

.specialization__actions {
  margin: 0 0 10px;
  max-width: 360px;
}

.specialization__link {
 margin-bottom: 0;
}
