.title {
  margin: 0;
  font-weight: 700;
}

.title_size_l {
  font-size: 54px;
  line-height: 61px;
}

.title_size_m {
  font-size: 40px;
  line-height: 45px;
}

.title_purple {
  line-height: 54px;
  color: #6f2dff;
}

.title_dark-grey {
  color: #1c1c1c;
}


.title_size_s {
  font-size: 19px;
  line-height: 23px;
}

.title_size_xs {
  font-size: 18px;
  line-height: 30px;
}

.title_white {
 color: #ffffff;
}
