.body {
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 9px;
}

.header__logo {
  max-width: 100%;
  border-style: none;
  height: 24px;
  margin-left: 21px;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__link {
  padding: 10px 21px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #1c1c1c;
  }

.button {
  padding: 11px 34px 15px 34px;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  background-color: #6f2cff;
  color: #ffffff;
}

.hero {
  padding-left: 115px;
  height: 695px;
  display: flex;
  align-items: center;
  background-image: url("/images/Фон\ Qubit.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__content {
  max-width: 470px;
}

.hero__content_top {
  margin: 0;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.hero__title {
  margin: 0;
  margin-bottom: 37px;
}

.title_size_l{
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 61px;
}

.title_size_l-purple {
  margin: 0;
  line-height: 54px;
  color: #6f2dff;
}


.hero__description{
  margin: 0;
  margin-bottom: 4px;
  max-width: 438px;
}

.description_size_s{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  
}

.hero__form {
  display: flex;
  align-items: center;
  width: 100%;
}

.input__form-email {
  padding: 13px 40px 11px 26px;
  border: 1px solid #6f2cff;
  border-radius: 27.5px 0px 0px 27.5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}

.button_left-sliced {
  margin-left: -5px;
  padding: 13px 45px 11px 45px;
  border: 1px solid #6F2CFF;
  border-radius: 0px 27.5px 27.5px 0px;
  font-size: 15px;
  line-height: 21px;
}


.brands {
 display: flex;
 flex-direction: column;
 justify-content: center;
 height: 204px;
 margin-bottom: 80px;
}

.brands__title{
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
}

.title_size_xs {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #1c1c1c;
  
}

.brands__logo {
 margin-bottom: 26px;
 padding: 0 115px;
 display: flex;
 justify-content: space-between;
}

.brands__link {
  margin: 0;
  text-align: center;
}

.link__customer {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: 2px solid #6f2dff;
  color: #1c1c1c;
}


/*Дальше не проверять*/


.statistics {
  display: grid;
  grid-template-columns: 50% 1fr;
  margin: 0px 30px 0px 30px;
}

.statistics__demo {
  padding: 177px 219px 185px 70px;
}

.statistics__title{
  margin: 0;
  margin-bottom: 58px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #1c1c1c;  
}

.statistics__form {
  margin: 0;
  margin-bottom: 56px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.statistics__link {
  margin: 0;
  margin-left: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  border-bottom: 2px solid #6f2dff;
}

.statistics__number {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.statistics__pws {
  margin: 0;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.statistics__report{
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}

.statistics__positive {
  padding-top: 8px;
  padding-left: 17px;
  margin: 0;
  min-height: 220px;
  border-left: 1px solid #e0e0e0;
}

.statistics__titlePositive {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.statistics__descriptionPositive {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.commerceal {
  padding: 94px 134px 91px 130px;
  text-align: center;
}

.commerceal__title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.commerceal__way {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.commerceal__advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commerceal__listAdvantages {
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
}

.commerceal__titleAdvanted {
  margin: 0;
  margin-bottom: 16px;
  margin-top: 46px;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}

.commerceal__descriptionAdvanted {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  min-width: 308px;
}

.tool {
  padding: 94px 222px 101px 222px;
  text-align: center;
  background-color: #f5f5f5;
}

.tool__title {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.tool__description {
  margin: 0;
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

.tool__button {
  display: flex;
  justify-content: center;
  margin-top: 76px;
}

.tool__button_left{
  padding: 11px 45px 14px 45px;
  margin-right: 22px;
  border-radius: 30px;
  background: #6f2cff;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #FFFFFF;
}

.tool__button_right {
  padding: 11px 45px 14px 45px;
  border-radius: 30px;
  background: #ffffff;
  border: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #6f2cff;
}

.proposal {
  padding: 94px 220px 220px 218px;
  text-align: center;
}

.proposal__title{
  margin: 0;
  margin-bottom: 62px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.proposal__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 110px;
}

.proposal__titleList {
  margin-top: 10px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 19px;
  line-height: 45px;
}

.proposal__descriptionList {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #1c1c1c;
}

.leadingBrands {
  padding: 88px 162px 105px 162px;
  text-align: center;
  background-color: #f5f5f5;
}

.leadingBrands__title {
 margin: 0;
 margin-bottom: 75px;
 font-weight: 700;
 font-size: 40px;
 line-height: 45px;
}

.leadingBrands__location {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leadingBrands__list {
  padding: 0;
  margin: 0;
  margin-left: 13px;
  margin-right: 13px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 40px;

}

.leadingBrands__descriptionList {
  box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
  border-radius: 0px 0px 7px 7px;
  background: #FFFFFF;
  width: 320px;
  height: 233px;
  margin-top: -3px;
  
}

.leadingBrands__logo {
 align-items :center;
 margin-top: 25px;
 margin-bottom: 25px;
}

.leadingBrands__values {
  margin: 0;
  margin-left: 55px;
  margin-right: 55px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6f2cff;
}

.specialization {
  padding: 94px 245px 100px 245px;
  margin: 0;
  text-align: center;
}

.specialization__title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
}

.specialization__descriptionTitle {
  margin: 0;
  margin-bottom: 65px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.specialization__sectors {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 30px;
}

.specialization__styleSectors {
  padding: 35px 0px 22px 30px;
  min-width: 460px;
  /*min-height: 199px;*/
  text-align: left;
  background-color: #17002e;
  border-radius: 8px 10px 10px 8px;
}

.specialization__styleSectors_top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 31px;
}

.specialization__styleSectors_titleTop {
  margin: 0;
  margin-left: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.specialization__styleSectors_bottom {
  margin: 0;
  max-width: 350px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
}

.specialization__styleSectors_linkBottom {
 margin-bottom: 0;
 margin-top: auto; 
 font-weight: 400;
 font-size: 15px;
 line-height: 15px;
 color: #ffffff;
 text-decoration: none;
 border-bottom: 2px solid #ffffff;
}